<igx-card type="outlined" class="card">
  <igx-card-header>
    <h3 igxCardHeaderTitle></h3>
    <h5 igxCardHeaderSubtitle></h5>
    <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar"></igx-avatar>
  </igx-card-header>
  <igx-card-media height="400px">
    <img src="/assets/eagle-fly-3840-x-2160-hdtv-stock.jpg" />
  </igx-card-media>
  <igx-card-actions [reverse]="true" class="actions">
    <button igxButton="flat" class="button">
      Button
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        favorite
      </igx-icon>
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        bookmark
      </igx-icon>
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        share
      </igx-icon>
    </button>
  </igx-card-actions>
</igx-card>
<button igxButton="raised" class="user-input">
  Button
</button>
<igx-radio-group class="radio-group">
  <igx-radio value="asd">Label 1</igx-radio>
  <igx-radio></igx-radio>
  <igx-radio>Label 3</igx-radio>
  <igx-radio></igx-radio>
</igx-radio-group>
<igx-select type="border" class="user-input">
  <igx-select-item value="Option" text="Option"></igx-select-item>
  <igx-select-item value="Option" text="Option"></igx-select-item>
  <igx-select-item value="Option" text="Option"></igx-select-item>
  <igx-select-item value="Option" text="Option"></igx-select-item>
  <igx-select-item value="Option" text="Option"></igx-select-item>
</igx-select>
<igx-card type="outlined" class="card">
  <igx-card-header>
    <h3 igxCardHeaderTitle></h3>
    <h5 igxCardHeaderSubtitle></h5>
  </igx-card-header>
  <igx-card-content class="content">
    <p class="igx-typography__body-1 text"></p>
  </igx-card-content>
  <igx-card-actions class="actions">
    <button igxButton="flat" class="button">
      Button
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        favorite
      </igx-icon>
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        bookmark
      </igx-icon>
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        share
      </igx-icon>
    </button>
  </igx-card-actions>
</igx-card>
<igx-input-group type="border" class="user-input">
  <input type="Text" [disabled]="false" igxInput />
  <label igxLabel>Label/Placeholder</label>
</igx-input-group>
