:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.content {
  min-height: 50px;
  min-width: 50px;
}
.card {
  width: 320px;
  height: max-content;
  min-width: 320px;
  flex-shrink: 0;
}
.actions {
  min-height: 40px;
  min-width: 50px;
}
.avatar {
  color: var(--igx-grays-800);
  background-color: var(--igx-grays-400);
}
.icon {
  margin: 0 0 0 px;
  padding: 0 0 0 px;
}
.radio-group {
  width: max-content;
  height: max-content;
}
.user-input {
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.button {
  min-width: min-content;
  height: max-content;
}
.text {
  height: max-content;
  min-width: min-content;
}
