.child-view-container {
    align-items: stretch;
    height: 100%;
}
.text {
    height: max-content;
    min-width: min-content;
}
.card {
    width: 320px;
    height: max-content;
    min-width: 320px;
    flex-shrink: 0;
}
.avatar::part(base) {
    color: hsla(var(--igc-gray-800));
    background-color: hsla(var(--igc-gray-400));
}
.icon {
    margin: 0 0 0 px;
    padding: 0 0 0 px;
}
.radio-group {
    width: max-content;
    height: max-content;
}
.user-input {
    flex-shrink: 0;
    min-width: min-content;
    height: max-content;
}
.button {
    min-width: min-content;
    height: max-content;
}
.row {
    display: flex;
}
