@page "/child-view"

<div class="child-view-container row">
    <iab-card type="outlined" class="card">
        <p class="typography__body-1 text"></p>
        <IgbButton Variant="ButtonVariant.Flat">
            <span class="material-icons icon">
                favorite
            </span>
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbAvatar Shape="AvatarShape.Circle" class="avatar" child-view-scope>
            <span class="material-icons">person</span>
        </IgbAvatar>
        <IgbButton Variant="ButtonVariant.Flat" class="button_1" child-view-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Flat">
            <span class="material-icons icon">
                bookmark
            </span>
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Flat">
            <span class="material-icons icon">
                share
            </span>
            <IgbRipple></IgbRipple>
        </IgbButton>
    </iab-card>
    <IgbButton Variant="ButtonVariant.Contained" class="button" child-view-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <iab-radio-group labelPosition="after" required="false" alignment="horizontal" disabled="false" class="radio-group">
        <igx-radio value="asd">Label 1</igx-radio>
        <igx-radio></igx-radio>
        <igx-radio>Label 3</igx-radio>
        <igx-radio></igx-radio>
    </iab-radio-group>
</div>

@code {
}
